<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/6.2/phpunit.xsd"
         colors="true"
         beStrictAboutTestsThatDoNotTestAnything="false"
         bootstrap="/var/www/html/dev/tests/unit/framework/bootstrap.php">
    <testsuites>
        <testsuite name="Grin Module Test Suite">
            <directory suffix="Test.php">./Test/Unit</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">./Test/Unit</directory>
            <exclude>
                <directory>./Test/Api</directory>
                <directory>./.docker-magento</directory>
            </exclude>
        </whitelist>
    </filter>
    <php>
        <env name="app_etc" value=".docker-magento/app/etc"/>
        <env name="TESTS_MAGENTO_INSTALLATION" value=".docker-magento"/>
        <env name="TESTS_CLEANUP" value="enabled"/>
    </php>
</phpunit> 