<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.6/phpunit.xsd"
         colors="true"
         beStrictAboutTestsThatDoNotTestAnything="false"
         bootstrap="/var/www/html/dev/tests/unit/framework/bootstrap.php"
         stderr="true">
    <testsuites>
        <testsuite name="UnitTests">
            <directory suffix="Test.php">app/code/Grin/Module/Test/Unit</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory suffix=".php">app/code/Grin/Module</directory>
        </include>
        <exclude>
            <directory>lib/internal/*/*/Test</directory>
            <directory>lib/internal/*/*/*/Test</directory>
            <directory>setup/src/*/*/Test</directory>
        </exclude>
    </coverage>
    <php>
        <ini name="date.timezone" value="America/Los_Angeles"/>
        <ini name="xdebug.max_nesting_level" value="200"/>
    </php>
</phpunit>
 